{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    <span>Tags</span>
    <a href="{% url 'list:tag-create' %}" class="btn btn-primary link-to-page ml-3">
      <i class="fas fa-plus"></i>
      Add
    </a>
  </h1>
  
  {% if tags %}
    <table class="table table-bordered table-hover mt-4">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for tag in tags %}
            <tr>
              <td>{{ tag.name }}</td>
              <td>
                <a href="{% url 'list:tag-update' pk=tag.id %}" class="btn btn-sm btn-outline-secondary">
                  Update
                </a>
              </td>
              <td>
                <a href="{% url 'list:tag-delete' pk=tag.id %}" class="btn btn-sm btn-outline-secondary">
                  Delete
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  {% else %}
    <p class="text-center">There are no tags</p>
  {% endif %}
{% endblock %}
